<div class="user-auth">
    <div *ngIf="!showLogin" class="user-Signup">
        <h1>User Sign-up</h1>
        <form #userSignup="ngForm" class="common-form" (ngSubmit)="signUp(userSignup.value)">
            <input type="text" class="form-input" placeholder="Enter User Name" name="name" ngModel required />
            <input type="email" class="form-input" placeholder="Enter User Email" name="email" ngModel required email />
            <input type="password" class="form-input" placeholder="Enter User Password" name="password" ngModel
                required />
            <button type="submit" class="form-button">Sign up</button>
            <p>Already Have Account? <a (click)="openSignup()">Click Here</a></p>
        </form>
    </div>
    <div *ngIf="showLogin" class="user-Login">
        <h1>User Login</h1>
        <p class="error-p">{{authError}}</p>
        <form #userLogin="ngForm" class="common-form" (ngSubmit)="login(userLogin.value)">
            <input type="email" class="form-input" placeholder="Enter User Email" name="email" ngModel required
                #email="ngModel" />
            <p class="invalid-input"><span *ngIf="email.invalid && email.touched">Please enter valid value</span></p>
            <input type="password" class="form-input" placeholder="Enter User Password" name="password" ngModel required
                #password="ngModel" minlength="2" maxlength="20" />
            <p class="invalid-input"><span *ngIf="password.invalid && password.touched">Please enter valid value</span>
            </p>
            <button [disabled]="userLogin.invalid" type="submit" class="form-button">Login</button>
            <p>Don't have an account? <a (click)="openLogin()">Sign up</a></p>
        </form>
    </div>
</div>


