<ngb-carousel *ngIf="popularProducts">
  <ng-template *ngFor="let item of popularProducts" ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="product-header-img" [src]="item.image" alt="Product Image">
    </div>
    <div class="carousal-caption">
      <h3>{{ item.name }}</h3>
      <p>{{ item.description }}</p>
    </div>
  </ng-template>
</ngb-carousel>




<div class="product-list-wrapper">
  <h1>Trendy Products</h1>
  <div class="row">
    <div class="col-sm-3">
      <div class="product-item">
        <img
          src="https://images.unsplash.com/photo-1546868871-7041f2a55e12?q=80&w=764&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="" srcset="">

        <div class="product-details">
          <h1 class="name-head">Apple Watch</h1>
          <div class="product-price">
            <h6>Price: 10000</h6>
          </div>
          <div class="product-color">
            <h6>Color: Black</h6>
          </div>
        </div>
        <div class="product-footer">
          <a href="">View Details</a>
          <a href="">Add to Cart</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="product-item">
        <img
          src="https://images.unsplash.com/photo-1546868871-7041f2a55e12?q=80&w=764&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="" srcset="">

        <div class="product-details">
          <h1 class="name-head">Apple Watch</h1>
          <div class="product-price">
            <h6>Price: 10000</h6>
          </div>
          <div class="product-color">
            <h6>Color: Black</h6>
          </div>
        </div>
        <div class="product-footer">
          <a href="">View Details</a>
          <a href="">Add to Cart</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="product-item">
        <img
          src="https://images.unsplash.com/photo-1546868871-7041f2a55e12?q=80&w=764&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="" srcset="">

        <div class="product-details">
          <h1 class="name-head">Apple Watch</h1>
          <div class="product-price">
            <h6>Price: 10000</h6>
          </div>
          <div class="product-color">
            <h6>Color: Black</h6>
          </div>
        </div>
        <div class="product-footer">
          <a href="">View Details</a>
          <a href="">Add to Cart</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="product-item">
        <img
          src="https://images.unsplash.com/photo-1546868871-7041f2a55e12?q=80&w=764&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="" srcset="">

        <div class="product-details">
          <h1 class="name-head">Apple Watch</h1>
          <div class="product-price">
            <h6>Price: 10000</h6>
          </div>
          <div class="product-color">
            <h6>Color: Black</h6>
          </div>
        </div>
        <div class="product-footer">
          <a href="">View Details</a>
          <a href="">Add to Cart</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="product-item">
        <img
          src="https://images.unsplash.com/photo-1546868871-7041f2a55e12?q=80&w=764&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="" srcset="">

        <div class="product-details">
          <h1 class="name-head">Apple Watch</h1>
          <div class="product-price">
            <h6>Price: 10000</h6>
          </div>
          <div class="product-color">
            <h6>Color: Black</h6>
          </div>
        </div>
        <div class="product-footer">
          <a href="">View Details</a>
          <a href="">Add to Cart</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="product-item">
        <img
          src="https://images.unsplash.com/photo-1546868871-7041f2a55e12?q=80&w=764&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="" srcset="">

        <div class="product-details">
          <h1 class="name-head">Apple Watch</h1>
          <div class="product-price">
            <h6>Price: 10000</h6>
          </div>
          <div class="product-color">
            <h6>Color: Black</h6>
          </div>
        </div>
        <div class="product-footer">
          <a href="">View Details</a>
          <a href="">Add to Cart</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="product-item">
        <img
          src="https://images.unsplash.com/photo-1546868871-7041f2a55e12?q=80&w=764&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="" srcset="">

        <div class="product-details">
          <h1 class="name-head">Apple Watch</h1>
          <div class="product-price">
            <h6>Price: 10000</h6>
          </div>
          <div class="product-color">
            <h6>Color: Black</h6>
          </div>
        </div>
        <div class="product-footer">
          <a href="">View Details</a>
          <a href="">Add to Cart</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="product-item">
        <img
          src="https://images.unsplash.com/photo-1546868871-7041f2a55e12?q=80&w=764&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="" srcset="">

        <div class="product-details">
          <h1 class="name-head">Apple Watch</h1>
          <div class="product-price">
            <h6>Price: 10000</h6>
          </div>
          <div class="product-color">
            <h6>Color: Black</h6>
          </div>
        </div>
        <div class="product-footer">
          <a href="">View Details</a>
          <a href="">Add to Cart</a>
        </div>
      </div>
    </div>
  </div>
</div>